In [160]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns
sns.set()

In [161]:
raw_data = pd.read_csv('train.csv')

In [295]:
raw_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [163]:
pd.options.display.max_columns  = None
pd.options.display.max_rows = None

In [164]:
raw_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [165]:
data_c = raw_data.copy()

In [166]:
data_c.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [167]:
data_c.columns.values

array(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'], dtype=object)

In [168]:
temp = ['PassengerId','Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked','Survived']
data_c = data_c[temp]
data_c.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0

In [169]:
pclass = data_c['Pclass']

In [170]:
pclass.head()

0    3
1    1
2    3
3    1
4    3
Name: Pclass, dtype: int64

In [171]:
df =pd.get_dummies(pclass,drop_first= True)
df

     2  3
0    0  1
1    0  0
2    0  1
3    0  0
4    0  1
5    0  1
6    0  0
7    0  1
8    0  1
9    1  0
10   0  1
11   0  0
12   0  1
13   0  1
14   0  1
15   1  0
16   0  1
17   1  0
18   0  1
19   0  1
20   1  0
21   1  0
22   0  1
23   0  0
24   0  1
25   0  1
26   0  1
27   0  0
28   0  1
29   0  1
30   0  0
31   0  0
32   0  1
33   1  0
34   0  0
35   0  0
36   0  1
37   0  1
38   0  1
39   0  1
40   0  1
41   1  0
42   0  1
43   1  0
44   0  1
45   0  1
46   0  1
47   0  1
48   0  1
49   0  1
50   0  1
51   0  1
52   0  0
53   1  0
54   0  0
55   0  0
56   1  0
57   0  1
58   1  0
59   0  1
60   0  1
61   0  0
62   0  0
63   0  1
64   0  0
65   0  1
66   1  0
67   0  1
68   0  1
69   0  1
70   1  0
71   0  1
72   1  0
73   0  1
74   0  1
75   0  1
76   0  1
77   0  1
78   1  0
79   0  1
80   0  1
81   0  1
82   0  1
83   0  0
84   1  0
85   0  1
86   0  1
87   0  1
88   0  0
89   0  1
90   0  1
91   0  1
92   0  0
93   0  1
94   0  1
95   0  1
96   0  0
97   0  0
98   1  0
99   1  0
100  0  1
101  0  1
102  0  0
103  0  1
104  0  1
105  0  1
106  0  1
107  0  1
108  0  1
109  0  1
110  0  0
111  0  1
112  0  1
113  0  1
114  0  1
115  0  1
116  0  1
117  1  0
118  0  0
119  0  1
120  1  0
121  0  1
122  1  0
123  1  0
124  0  0
125  0  1
126  0  1
127  0  1
128  0  1
129  0  1
130  0  1
131  0  1
132  0  1
133  1  0
134  1  0
135  1  0
136  0  0
137  0  0
138  0  1
139  0  0
140  0  1
141  0  1
142  0  1
143  0  1
144  1  0
145  1  0
146  0  1
147  0  1
148  1  0
149  1  0
150  1  0
151  0  0
152  0  1
153  0  1
154  0  1
155  0  0
156  0  1
157  0  1
158  0  1
159  0  1
160  0  1
161  1  0
162  0  1
163  0  1
164  0  1
165  0  1
166  0  0
167  0  1
168  0  0
169  0  1
170  0  0
171  0  1
172  0  1
173  0  1
174  0  0
175  0  1
176  0  1
177  0  0
178  1  0
179  0  1
180  0  1
181  1  0
182  0  1
183  1  0
184  0  1
185  0  0
186  0  1
187  0  0
188  0  1
189  0  1
190  1  0
191  1  0
192  0  1
193  1  0
194  0  0
195  0  0
196  0  1
197  0  1
198  0  1
199  1  0
200  0  1
201  0  1
202  0  1
203  0  1
204  0  1
205  0  1
206  0  1
207  0  1
208  0  1
209  0  0
210  0  1
211  1  0
212  0  1
213  1  0
214  0  1
215  0  0
216  0  1
217  1  0
218  0  0
219  1  0
220  0  1
221  1  0
222  0  1
223  0  1
224  0  0
225  0  1
226  1  0
227  0  1
228  1  0
229  0  1
230  0  0
231  0  1
232  1  0
233  0  1
234  1  0
235  0  1
236  1  0
237  1  0
238  1  0
239  1  0
240  0  1
241  0  1
242  1  0
243  0  1
244  0  1
245  0  0
246  0  1
247  1  0
248  0  0
249  1  0
250  0  1
251  0  1
252  0  0
253  0  1
254  0  1
255  0  1
256  0  0
257  0  0
258  0  0
259  1  0
260  0  1
261  0  1
262  0  0
263  0  0
264  0  1
265  1  0
266  0  1
267  0  1
268  0  0
269  0  0
270  0  0
271  0  1
272  1  0
273  0  0
274  0  1
275  0  0
276  0  1
277  1  0
278  0  1
279  0  1
280  0  1
281  0  1
282  0  1
283  0  1
284  0  0
285  0  1
286  0  1
287  0  1
288  1  0
289  0  1
290  0  0
291  0  0
292  1  0
293  0  1
294  0  1
295  0  0
296  0  1
297  0  0
298  0  0
299  0  0
300  0  1
301  0  1
302  0  1
303  1  0
304  0  1
305  0  0
306  0  0
307  0  0
308  1  0
309  0  0
310  0  0
311  0  0
312  1  0
313  0  1
314  1  0
315  0  1
316  1  0
317  1  0
318  0  0
319  0  0
320  0  1
321  0  1
322  1  0
323  1  0
324  0  1
325  0  0
326  0  1
327  1  0
328  0  1
329  0  0
330  0  1
331  0  0
332  0  0
333  0  1
334  0  0
335  0  1
336  0  0
337  0  0
338  0  1
339  0  0
340  1  0
341  0  0
342  1  0
343  1  0
344  1  0
345  1  0
346  1  0
347  0  1
348  0  1
349  0  1
350  0  1
351  0  0
352  0  1
353  0  1
354  0  1
355  0  1
356  0  0
357  1  0
358  0  1
359  0  1
360  0  1
361  1  0
362  0  1
363  0  1
364  0  1
365  0  1
366  0  0
367  0  1
368  0  1
369  0  0
370  0  0
371  0  1
372  0  1
373  0  0
374  0  1
375  0  0
376  0  1
377  0  0
378  0  1
379  0  1
380  0  0
381  0  1
382  0  1
383  0  0
384  0  1
385  1  0
386  0  1
387  1  0
388  0  1
389  1  0
390  0  0
391  0  1
392  0  1
393  0  0
394  0  1
395  0  1
396  0  1
397  1  0
398  1  0
399  1  0
400  0  1
401  0  1
402  0  1
403  0  1
404  0  1
405  1  0
406  0  1
407  1  0
408  0  1
409  0  1
410  0  1
411  0  1
412  0  0
413  1  0
414  0  1
415  0  1
416  1  0
417  1  0
418  1  0
419  0  1
420  0  1
421  0  1
422  0  1
423  0  1
424  0  1
425  0  1
426  1  0
427  1  0
428  0  1
429  0  1
430  0  0
431  0  1
432  1  0
433  0  1
434  0  0
435  0  0
436  0  1
437  1  0
438  0  0
439  1  0
440  1  0
441  0  1
442  0  1
443  1  0
444  0  1
445  0  0
446  1  0
447  0  0
448  0  1
449  0  0
450  1  0
451  0  1
452  0  0
453  0  0
454  0  1
455  0  1
456  0  0
457  0  0
458  1  0
459  0  1
460  0  0
461  0  1
462  0  0
463  1  0
464  0  1
465  0  1
466  1  0
467  0  0
468  0  1
469  0  1
470  0  1
471  0  1
472  1  0
473  1  0
474  0  1
475  0  0
476  1  0
477  0  1
478  0  1
479  0  1
480  0  1
481  1  0
482  0  1
483  0  1
484  0  0
485  0  1
486  0  0
487  0  0
488  0  1
489  0  1
490  0  1
491  0  1
492  0  0
493  0  0
494  0  1
495  0  1
496  0  0
497  0  1
498  0  0
499  0  1
500  0  1
501  0  1
502  0  1
503  0  1
504  0  0
505  0  0
506  1  0
507  0  0
508  0  1
509  0  1
510  0  1
511  0  1
512  0  0
513  0  0
514  0  1
515  0  0
516  1  0
517  0  1
518  1  0
519  0  1
520  0  0
521  0  1
522  0  1
523  0  0
524  0  1
525  0  1
526  1  0
527  0  0
528  0  1
529  1  0
530  1  0
531  0  1
532  0  1
533  0  1
534  0  1
535  1  0
536  0  0
537  0  0
538  0  1
539  0  0
540  0  0
541  0  1
542  0  1
543  1  0
544  0  0
545  0  0
546  1  0
547  1  0
548  0  1
549  1  0
550  0  0
551  1  0
552  0  1
553  0  1
554  0  1
555  0  0
556  0  0
557  0  0
558  0  0
559  0  1
560  0  1
561  0  1
562  1  0
563  0  1
564  0  1
565  0  1
566  0  1
567  0  1
568  0  1
569  0  1
570  1  0
571  0  0
572  0  0
573  0  1
574  0  1
575  0  1
576  1  0
577  0  0
578  0  1
579  0  1
580  1  0
581  0  0
582  1  0
583  0  0
584  0  1
585  0  0
586  1  0
587  0  0
588  0  1
589  0  1
590  0  1
591  0  0
592  0  1
593  0  1
594  1  0
595  0  1
596  1  0
597  0  1
598  0  1
599  0  0
600  1  0
601  0  1
602  0  0
603  0  1
604  0  0
605  0  1
606  0  1
607  0  0
608  1  0
609  0  0
610  0  1
611  0  1
612  0  1
613  0  1
614  0  1
615  1  0
616  0  1
617  0  1
618  1  0
619  1  0
620  0  1
621  0  0
622  0  1
623  0  1
624  0  1
625  0  0
626  1  0
627  0  0
628  0  1
629  0  1
630  0  0
631  0  1
632  0  0
633  0  0
634  0  1
635  1  0
636  0  1
637  1  0
638  0  1
639  0  1
640  0  1
641  0  0
642  0  1
643  0  1
644  0  1
645  0  0
646  0  1
647  0  0
648  0  1
649  0  1
650  0  1
651  1  0
652  0  1
653  0  1
654  0  1
655  1  0
656  0  1
657  0  1
658  1  0
659  0  0
660  0  0
661  0  1
662  0  0
663  0  1
664  0  1
665  1  0
666  1  0
667  0  1
668  0  1
669  0  0
670  1  0
671  0  0
672  1  0
673  1  0
674  1  0
675  0  1
676  0  1
677  0  1
678  0  1
679  0  0
680  0  1
681  0  0
682  0  1
683  0  1
684  1  0
685  1  0
686  0  1
687  0  1
688  0  1
689  0  0
690  0  0
691  0  1
692  0  1
693  0  1
694  0  0
695  1  0
696  0  1
697  0  1
698  0  0
699  0  1
700  0  0
701  0  0
702  0  1
703  0  1
704  0  1
705  1  0
706  1  0
707  0  0
708  0  0
709  0  1
710  0  0
711  0  0
712  0  0
713  0  1
714  1  0
715  0  1
716  0  0
717  1  0
718  0  1
719  0  1
720  1  0
721  0  1
722  1  0
723  1  0
724  0  0
725  0  1
726  1  0
727  0  1
728  1  0
729  0  1
730  0  0
731  0  1
732  1  0
733  1  0
734  1  0
735  0  1
736  0  1
737  0  0
738  0  1
739  0  1
740  0  0
741  0  0
742  0  0
743  0  1
744  0  1
745  0  0
746  0  1
747  1  0
748  0  0
749  0  1
750  1  0
751  0  1
752  0  1
753  0  1
754  1  0
755  1  0
756  0  1
757  1  0
758  0  1
759  0  0
760  0  1
761  0  1
762  0  1
763  0  0
764  0  1
765  0  0
766  0  0
767  0  1
768  0  1
769  0  1
770  0  1
771  0  1
772  1  0
773  0  1
774  1  0
775  0  1
776  0  1
777  0  1
778  0  1
779  0  0
780  0  1
781  0  0
782  0  0
783  0  1
784  0  1
785  0  1
786  0  1
787  0  1
788  0  1
789  0  0
790  0  1
791  1  0
792  0  1
793  0  0
794  0  1
795  1  0
796  0  0
797  0  1
798  0  1
799  0  1
800  1  0
801  1  0
802  0  0
803  0  1
804  0  1
805  0  1
806  0  0
807  0  1
808  1  0
809  0  0
810  0  1
811  0  1
812  1  0
813  0  1
814  0  1
815  0  0
816  0  1
817  1  0
818  0  1
819  0  1
820  0  0
821  0  1
822  0  0
823  0  1
824  0  1
825  0  1
826  0  1
827  1  0
828  0  1
829  0  0
830  0  1
831  1  0
832  0  1
833  0  1
834  0  1
835  0  0
836  0  1
837  0  1
838  0  1
839  0  0
840  0  1
841  1  0
842  0  0
843  0  1
844  0  1
845  0  1
846  0  1
847  0  1
848  1  0
849  0  0
850  0  1
851  0  1
852  0  1
853  0  0
854  1  0
855  0  1
856  0  0
857  0  0
858  0  1
859  0  1
860  0  1
861  1  0
862  0  0
863  0  1
864  1  0
865  1  0
866  1  0
867  0  0
868  0  1
869  0  1
870  0  1
871  0  0
872  0  0
873  0  1
874  1  0
875  0  1
876  0  1
877  0  1
878  0  1
879  0  0
880  1  0
881  0  1
882  0  1
883  1  0
884  0  1
885  0  1
886  1  0
887  0  0
888  0  1
889  0  0
890  0  1

In [172]:
class_2 = df.iloc[:,0]
class_3 = df.iloc[:,1]

In [173]:
data_c.columns.values

array(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked', 'Survived'], dtype=object)

In [174]:
new_df = pd.concat([data_c,class_2,class_3],axis = 1)
new_df.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived,2,3
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0,0,1
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1,0,0
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1,0,1
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1,0,0
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0,0,1

In [175]:
new_df.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived,2,3
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0,0,1
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1,0,0
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1,0,1
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1,0,0
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0,0,1

In [176]:
new_df.columns.values

array(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked', 'Survived', 2, 3],
      dtype=object)

In [177]:
save_checkpoint = new_df.copy()

In [178]:
temp2 = ['Name', 2, 3,'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin',
       'Embarked', 'Survived']
df.shape

(891, 2)

In [179]:
new_df.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived,2,3
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0,0,1
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1,0,0
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1,0,1
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1,0,0
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0,0,1

In [180]:
new_df = new_df[temp2]

In [181]:
new_df = new_df.drop('Name',axis = 1)
new_df.head()

,2,3,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,0,1,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,0,0,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,0,1,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,0,0,female,35.0,1,0,113803,53.1000,C123,S,1
4,0,1,male,35.0,0,0,373450,8.0500,NaN,S,0

In [182]:
new_df['Sex'] = new_df['Sex'].map({'male':0,'female':1})
new_df.head()

,2,3,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,0,1,0,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,0,0,1,38.0,1,0,PC 17599,71.2833,C85,C,1
2,0,1,1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,0,0,1,35.0,1,0,113803,53.1000,C123,S,1
4,0,1,0,35.0,0,0,373450,8.0500,NaN,S,0

In [183]:
save_checkpoint.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived,2,3
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0,0,1
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1,0,0
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1,0,1
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1,0,0
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0,0,1

In [184]:
sac = save_checkpoint.copy()

In [185]:
sac['Sex'] = sac['Sex'].map({'male':0,'female':1})
sac.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived,2,3
0,1,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,NaN,S,0,0,1
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,C,1,0,0
2,3,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1,0,1
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,S,1,0,0
4,5,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,NaN,S,0,0,1

In [186]:
saac_1 = save_checkpoint.copy()

In [187]:
saac_1['Sex_New'] = saac_1['Sex'].map({'male':0,'female':1})
saac_2 = saac_1.copy()
saac_1.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived,2,3,Sex_New
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0,0,1,0
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1,0,0,1
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1,0,1,1
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1,0,0,1
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0,0,1,0

In [188]:
saac_1 = saac_1.drop(['Sex','Name'],axis  = 1)
saac_1.head()

,PassengerId,Pclass,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived,2,3,Sex_New
0,1,3,22.0,1,0,A/5 21171,7.2500,NaN,S,0,0,1,0
1,2,1,38.0,1,0,PC 17599,71.2833,C85,C,1,0,0,1
2,3,3,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1,0,1,1
3,4,1,35.0,1,0,113803,53.1000,C123,S,1,0,0,1
4,5,3,35.0,0,0,373450,8.0500,NaN,S,0,0,1,0

In [189]:
saac_1['Parch'].unique()

array([0, 1, 2, 5, 3, 4, 6])

In [190]:
saac_1['Ticket'].count()

891

In [191]:
saac_1.shape

(891, 13)

In [192]:
saac_1 = saac_1.drop('Ticket',axis = 1)
saac_1.head()

,PassengerId,Pclass,Age,SibSp,Parch,Fare,Cabin,Embarked,Survived,2,3,Sex_New
0,1,3,22.0,1,0,7.2500,NaN,S,0,0,1,0
1,2,1,38.0,1,0,71.2833,C85,C,1,0,0,1
2,3,3,26.0,0,0,7.9250,NaN,S,1,0,1,1
3,4,1,35.0,1,0,53.1000,C123,S,1,0,0,1
4,5,3,35.0,0,0,8.0500,NaN,S,0,0,1,0

In [193]:
embarked = saac_1['Embarked']
embarked_dummy = pd.get_dummies(embarked,drop_first=True)
saac_f = pd.concat([saac_1,embarked_dummy],axis = 1)
saac_f.head()

,PassengerId,Pclass,Age,SibSp,Parch,Fare,Cabin,Embarked,Survived,2,3,Sex_New,Q,S
0,1,3,22.0,1,0,7.2500,NaN,S,0,0,1,0,0,1
1,2,1,38.0,1,0,71.2833,C85,C,1,0,0,1,0,0
2,3,3,26.0,0,0,7.9250,NaN,S,1,0,1,1,0,1
3,4,1,35.0,1,0,53.1000,C123,S,1,0,0,1,0,1
4,5,3,35.0,0,0,8.0500,NaN,S,0,0,1,0,0,1

In [194]:
saac_f = saac_f.drop('Embarked',axis = 1)

In [195]:
saac_f.head()

,PassengerId,Pclass,Age,SibSp,Parch,Fare,Cabin,Survived,2,3,Sex_New,Q,S
0,1,3,22.0,1,0,7.2500,NaN,0,0,1,0,0,1
1,2,1,38.0,1,0,71.2833,C85,1,0,0,1,0,0
2,3,3,26.0,0,0,7.9250,NaN,1,0,1,1,0,1
3,4,1,35.0,1,0,53.1000,C123,1,0,0,1,0,1
4,5,3,35.0,0,0,8.0500,NaN,0,0,1,0,0,1

In [196]:
saac_f['Cabin'].count()

204

In [197]:
df_with_cabin = saac_f.copy()

In [198]:
saac_f['Cabin'].unique()

array([nan, 'C85', 'C123', 'E46', 'G6', 'C103', 'D56', 'A6',
       'C23 C25 C27', 'B78', 'D33', 'B30', 'C52', 'B28', 'C83', 'F33',
       'F G73', 'E31', 'A5', 'D10 D12', 'D26', 'C110', 'B58 B60', 'E101',
       'F E69', 'D47', 'B86', 'F2', 'C2', 'E33', 'B19', 'A7', 'C49', 'F4',
       'A32', 'B4', 'B80', 'A31', 'D36', 'D15', 'C93', 'C78', 'D35',
       'C87', 'B77', 'E67', 'B94', 'C125', 'C99', 'C118', 'D7', 'A19',
       'B49', 'D', 'C22 C26', 'C106', 'C65', 'E36', 'C54',
       'B57 B59 B63 B66', 'C7', 'E34', 'C32', 'B18', 'C124', 'C91', 'E40',
       'T', 'C128', 'D37', 'B35', 'E50', 'C82', 'B96 B98', 'E10', 'E44',
       'A34', 'C104', 'C111', 'C92', 'E38', 'D21', 'E12', 'E63', 'A14',
       'B37', 'C30', 'D20', 'B79', 'E25', 'D46', 'B73', 'C95', 'B38',
       'B39', 'B22', 'C86', 'C70', 'A16', 'C101', 'C68', 'A10', 'E68',
       'B41', 'A20', 'D19', 'D50', 'D9', 'A23', 'B50', 'A26', 'D48',
       'E58', 'C126', 'B71', 'B51 B53 B55', 'D49', 'B5', 'B20', 'F G63',
       'C62 C64', 'E24', 'C90', 'C45', 'E8', 'B101', 'D45', 'C46', 'D30',
       'E121', 'D11', 'E77', 'F38', 'B3', 'D6', 'B82 B84', 'D17', 'A36',
       'B102', 'B69', 'E49', 'C47', 'D28', 'E17', 'A24', 'C50', 'B42',
       'C148'], dtype=object)

In [199]:
saac_f  = saac_f.drop('Cabin',axis = 1)
saac_f.head()

,PassengerId,Pclass,Age,SibSp,Parch,Fare,Survived,2,3,Sex_New,Q,S
0,1,3,22.0,1,0,7.2500,0,0,1,0,0,1
1,2,1,38.0,1,0,71.2833,1,0,0,1,0,0
2,3,3,26.0,0,0,7.9250,1,0,1,1,0,1
3,4,1,35.0,1,0,53.1000,1,0,0,1,0,1
4,5,3,35.0,0,0,8.0500,0,0,1,0,0,1

In [200]:

saac_f2 = saac_f.copy()

In [201]:
saac_f.columns.values

array(['PassengerId', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare',
       'Survived', 2, 3, 'Sex_New', 'Q', 'S'], dtype=object)

In [202]:
tmp = [ 2, 3,'Age', 'SibSp', 'Parch', 'Fare','Sex_New', 'Q',
       'S','Survived']
saac_f = saac_f[tmp]

In [203]:
saac_f.head()

   2  3   Age  SibSp  Parch     Fare  Sex_New  Q  S  Survived
0  0  1  22.0      1      0   7.2500        0  0  1         0
1  0  0  38.0      1      0  71.2833        1  0  0         1
2  0  1  26.0      0      0   7.9250        1  0  1         1
3  0  0  35.0      1      0  53.1000        1  0  1         1
4  0  1  35.0      0      0   8.0500        0  0  1         0

In [204]:
saac_f.to_csv('non_standardised.csv',index = False)

In [205]:
df_standardisation1 = saac_f.iloc[:,2]
df_standardisation2 = saac_f.iloc[:,5]
new_df_combined = pd.concat([df_standardisation1,df_standardisation2],axis = 1)
new_df_combined.head()

    Age     Fare
0  22.0   7.2500
1  38.0  71.2833
2  26.0   7.9250
3  35.0  53.1000
4  35.0   8.0500

In [206]:
from sklearn.preprocessing import StandardScaler

In [207]:
scaler = StandardScaler()

In [208]:
scaler.fit(new_df_combined)
# stnd_df = scaler.transform(new_df_combined)

StandardScaler()

In [209]:
stnd_df = scaler.transform(new_df_combined)

In [210]:
stnd_df.shape

(891, 2)

In [211]:
data = stnd_df.shape[0]
# dfage = pd.DataFrame(data,columns='Age')
# dfage.head()
data

891

In [212]:
stnd_df

array([[-0.53037664, -0.50244517],
       [ 0.57183099,  0.78684529],
       [-0.25482473, -0.48885426],
       ...,
       [        nan, -0.17626324],
       [-0.25482473, -0.04438104],
       [ 0.15850313, -0.49237783]])

In [213]:
data_age_fare = pd.DataFrame({'Age_new':stnd_df[:,0],'Fare_new':stnd_df[:,1]})
data_age_fare.head()

    Age_new  Fare_new
0 -0.530377 -0.502445
1  0.571831  0.786845
2 -0.254825 -0.488854
3  0.365167  0.420730
4  0.365167 -0.486337

In [214]:
saac_f = pd.concat([saac_f,data_age_fare],axis = 1)
saac_f.head()

,2,3,Age,SibSp,Parch,Fare,Sex_New,Q,S,Survived,Age_new,Fare_new
0,0,1,22.0,1,0,7.2500,0,0,1,0,-0.530377,-0.502445
1,0,0,38.0,1,0,71.2833,1,0,0,1,0.571831,0.786845
2,0,1,26.0,0,0,7.9250,1,0,1,1,-0.254825,-0.488854
3,0,0,35.0,1,0,53.1000,1,0,1,1,0.365167,0.420730
4,0,1,35.0,0,0,8.0500,0,0,1,0,0.365167,-0.486337

In [215]:
saac_f = saac_f.drop(['Age','Fare'],axis = 1)
saac_f.head()

   2  3  SibSp  Parch  Sex_New  Q  S  Survived   Age_new  Fare_new
0  0  1      1      0        0  0  1         0 -0.530377 -0.502445
1  0  0      1      0        1  0  0         1  0.571831  0.786845
2  0  1      0      0        1  0  1         1 -0.254825 -0.488854
3  0  0      1      0        1  0  1         1  0.365167  0.420730
4  0  1      0      0        0  0  1         0  0.365167 -0.486337

In [216]:
saac_f.columns.values

array([2, 3, 'SibSp', 'Parch', 'Sex_New', 'Q', 'S', 'Survived', 'Age_new',
       'Fare_new'], dtype=object)

In [217]:
arr_t =[ 2, 3, 'SibSp', 'Parch', 'Sex_New', 'Q', 'S','Age_new','Fare_new','Survived']
final = saac_f[arr_t]
final.head()

   2  3  SibSp  Parch  Sex_New  Q  S   Age_new  Fare_new  Survived
0  0  1      1      0        0  0  1 -0.530377 -0.502445         0
1  0  0      1      0        1  0  0  0.571831  0.786845         1
2  0  1      0      0        1  0  1 -0.254825 -0.488854         1
3  0  0      1      0        1  0  1  0.365167  0.420730         1
4  0  1      0      0        0  0  1  0.365167 -0.486337         0

In [218]:
final['Age_new'].unique()

array([-0.53037664,  0.57183099, -0.25482473,  0.36516706,         nan,
        1.67403863, -1.90813618, -0.18593675, -1.08148046, -1.77036023,
        1.94959054, -0.6681526 ,  0.64071897,  1.74292661,  0.08961515,
        0.29627909, -1.01259248, -0.11704878, -1.49480832, -0.73704057,
        0.70960695,  2.50069435,  0.8473829 , -0.59926462, -0.80592855,
       -1.83924821, -1.5636963 ,  1.32959874, -0.0481608 ,  2.43180638,
       -0.08260479, -1.70147225, -1.28814439,  1.05404683, -0.87481653,
        0.15850313, -0.9437045 , -0.32371271, -1.98873512,  0.02072718,
        0.22739111, -0.46148866, -0.39260069,  1.12293481,  2.01847851,
        2.84513424,  0.50294302,  1.19182279, -1.04703647,  2.81069025,
        0.19294712, -1.21925641, -1.42592034,  0.46849903,  1.4673747 ,
        1.77737059,  0.74405094,  0.98515886, -1.97702416,  2.15625447,
        1.81181458,  1.39848672,  0.43405504,  1.08849082, -0.63370861,
        2.22514245,  0.77849493,  1.53626267,  2.29403042, -0.42704467,
       -1.9825352 ,  0.91627088,  2.08736649, -1.35703237,  2.3629184 ,
       -1.15036844,  1.26071077, -1.99424616,  1.60515065,  1.88070256,
        3.46512604,  2.77624626, -0.3581567 , -1.63258428, -1.99975719,
        0.05517117, -2.01697919,  0.33072307,  3.05179817])

In [219]:
final['Age_new'].mode()

0   -0.392601
dtype: float64

In [220]:
final_checkpoint = final.copy()

In [221]:
final['Age_new'] = final['Age_new'].map({'nan':-0.392601})
final.head()

   2  3  SibSp  Parch  Sex_New  Q  S  Age_new  Fare_new  Survived
0  0  1      1      0        0  0  1      NaN -0.502445         0
1  0  0      1      0        1  0  0      NaN  0.786845         1
2  0  1      0      0        1  0  1      NaN -0.488854         1
3  0  0      1      0        1  0  1      NaN  0.420730         1
4  0  1      0      0        0  0  1      NaN -0.486337         0

In [222]:
final_checkpoint_2 = final_checkpoint.copy()

In [223]:
final = final_checkpoint.copy()

In [224]:
final.head()

   2  3  SibSp  Parch  Sex_New  Q  S   Age_new  Fare_new  Survived
0  0  1      1      0        0  0  1 -0.530377 -0.502445         0
1  0  0      1      0        1  0  0  0.571831  0.786845         1
2  0  1      0      0        1  0  1 -0.254825 -0.488854         1
3  0  0      1      0        1  0  1  0.365167  0.420730         1
4  0  1      0      0        0  0  1  0.365167 -0.486337         0

In [225]:
final['Age_new'] = final['Age_new'].fillna(final['Age_new'].mean())
final['Fare_new'] = final['Fare_new'].fillna(final['Fare_new'].mean())

In [226]:
final_processed = final.copy()

In [227]:
final_processed.to_csv('processed.csv',index = False)

In [228]:
inputs = final.iloc[:,0:9]
inputs.head()

   2  3  SibSp  Parch  Sex_New  Q  S   Age_new  Fare_new
0  0  1      1      0        0  0  1 -0.530377 -0.502445
1  0  0      1      0        1  0  0  0.571831  0.786845
2  0  1      0      0        1  0  1 -0.254825 -0.488854
3  0  0      1      0        1  0  1  0.365167  0.420730
4  0  1      0      0        0  0  1  0.365167 -0.486337

In [229]:
targets = final['Survived']
targets.sum()/891

0.3838383838383838

In [230]:
final.shape

(891, 10)

## solving  with balancing and shuffling

In [236]:
target_sum = int(np.sum(targets))
target_sum

342

In [258]:
list_to_emp = []
counter_0 = 0
for i in range(targets.shape[0]):
    if targets[i]==0:
        counter_0= counter_0+1
        if counter_0>target_sum:
           list_to_emp.append(i)

In [266]:
# inputs_balanced = inputs.drop(inputs,list_to_emp,axis = 0)
# targets_balanced 
inputs_1 = inputs.copy()
targets_1 = targets.copy()
inputs_balanced = inputs.drop(index = list_to_emp,axis = 0)
target_balanced = targets.drop(index = list_to_emp,axis = 0)

In [270]:
target_balanced.sum()/target_balanced.shape[0]

0.5

## shuffling

In [252]:
# index = np.arange(targets.shape[0])
# # index
# np.random.shuffle(index)

# shuffled_inputs = inputs[index]
# shuffle_targets  = targets[index]

## modelling

In [272]:
from sklearn.linear_model import LogisticRegression

In [273]:
model = LogisticRegression()

In [274]:
model.fit(inputs_balanced,target_balanced)

LogisticRegression()

In [275]:
model.score(inputs_balanced,target_balanced)

0.7748538011695907

In [276]:
model.coef_

array([[-0.71032919, -1.76357669, -0.3753789 ,  0.09517641,  2.42218265,
         0.13096848, -0.4192417 , -0.48462328,  0.05950202]])

In [277]:
model.intercept_

array([0.52319093])

## summary table

In [279]:
arr = inputs_balanced.columns.values

In [280]:
arr

array([2, 3, 'SibSp', 'Parch', 'Sex_New', 'Q', 'S', 'Age_new', 'Fare_new'],
      dtype=object)

In [283]:
summary_table = pd.DataFrame(columns = ['Features'],data = arr)
summary_table

   Features
0         2
1         3
2     SibSp
3     Parch
4   Sex_New
5         Q
6         S
7   Age_new
8  Fare_new

In [284]:
summary_table['coefficient'] = np.transpose(model.coef_)
summary_table

   Features  coefficient
0         2    -0.710329
1         3    -1.763577
2     SibSp    -0.375379
3     Parch     0.095176
4   Sex_New     2.422183
5         Q     0.130968
6         S    -0.419242
7   Age_new    -0.484623
8  Fare_new     0.059502

In [286]:
summary_table.index = summary_table.index+1
summary_table.loc[0] = ['Intercept',model.intercept_[0]]
summary_table  = summary_table.sort_index()
summary_table

    Features  coefficient
0  Intercept     0.523191
1          2    -0.710329
2          3    -1.763577
3      SibSp    -0.375379
4      Parch     0.095176
5    Sex_New     2.422183
6          Q     0.130968
7          S    -0.419242
8    Age_new    -0.484623
9   Fare_new     0.059502

In [288]:
## using the  numpy exp to measure the different coeficient
summary_table['odds_ratio'] = np.exp(summary_table.coefficient)
summary_table

    Features  coefficient  odds_ratio
0  Intercept     0.523191    1.687403
1          2    -0.710329    0.491482
2          3    -1.763577    0.171431
3      SibSp    -0.375379    0.687029
4      Parch     0.095176    1.099853
5    Sex_New     2.422183   11.270432
6          Q     0.130968    1.139932
7          S    -0.419242    0.657545
8    Age_new    -0.484623    0.615929
9   Fare_new     0.059502    1.061308

## table acc to significance of the features

In [291]:
summary_table.sort_values('odds_ratio',ascending = False)

    Features  coefficient  odds_ratio
5    Sex_New     2.422183   11.270432
0  Intercept     0.523191    1.687403
6          Q     0.130968    1.139932
4      Parch     0.095176    1.099853
9   Fare_new     0.059502    1.061308
3      SibSp    -0.375379    0.687029
7          S    -0.419242    0.657545
8    Age_new    -0.484623    0.615929
1          2    -0.710329    0.491482
2          3    -1.763577    0.171431

## testing the model

In [296]:
test_raw_data = pd.read_csv('test_modifies.csv')
test_raw_data

  0  1 -8.987324e-02 -1.724051e-01
120  1  0      0      0        1  0  1 -1.290452e+00 -3.559637e-01
121  0  1      1      0        0  1  0  4.280378e-17 -4.992288e-01
122  0  0      1      0        1  0  0  3.338605e-01  3.961786e-01
123  0  1      0      0        0  0  1 -1.604955e-01 -5.081829e-01
124  0  1      0      0        0  1  0  4.280378e-17 -4.992288e-01
125  0  1      0      1        1  0  1 -9.373407e-01 -3.496958e-01
126  0  1      0      0        0  0  1 -5.842293e-01 -4.984087e-01
127  0  1      2      0        1  1  0  4.280378e-17 -2.216525e-01
128  1  0      0      0        0  0  1  8.282165e-01 -4.052111e-01
129  0  1      0      0        0  0  1 -4.429847e-01 -4.938564e-01
130  0  1      0      0        0  0  1  1.219936e-01 -4.938564e-01
131  0  0      0      0        0  0  0  1.605062e+00 -1.276348e-01
132  0  1      0      4        1  0  1  4.280378e-17 -1.819555e-01
133  0  1      1      0        0  0  0  4.280378e-17 -5.227333e-01
134  0  1      0      0        0  0  1  8.988388e-01 -4.966178e-01
135  0  1      0      0        0  0  1 -4.429847e-01 -4.973628e-01
136  0  1      0      0        0  0  0 -2.664290e-01 -5.086306e-01
137  1  0      0      0        0  0  1 -3.017401e-01 -4.052111e-01
138  0  1      0      0        1  0  1 -5.136070e-01 -4.938564e-01
139  0  1      1      6        0  0  1  6.869719e-01  2.018752e-01
140  0  1      5      2        1  0  1 -1.431697e+00  2.018752e-01
141  0  0      0      0        1  0  1  1.926159e-01  2.075963e+00
142  0  0      1      3        0  0  0  2.170040e+00  4.060634e+00
143  1  0      0      0        0  0  1 -1.604955e-01 -1.724051e-01
144  0  0      0      0        0  0  1  8.282165e-01 -1.625556e-01
145  0  1      3      0        0  0  1  5.137133e-02 -3.156703e-01
146  0  0      0      0        0  0  1  4.280378e-17  2.907444e-01
147  0  1      0      0        0  0  1 -5.842293e-01 -4.938564e-01
148  0  0      0      0        0  0  1  4.280378e-17 -1.625556e-01
149  1  0      1      1        0  0  1 -1.925095e-02 -1.724051e-01
150  0  0      0      1        1  0  0 -5.136070e-01  8.511942e-01
151  0  1      0      0        0  0  0  4.280378e-17 -4.966178e-01
152  0  1      0      0        0  0  1  2.134729e+00 -5.258251e-17
153  0  1      0      2        1  0  1  4.044828e-01 -4.198366e-01
154  0  1      4      2        0  0  1 -1.219830e+00 -7.592497e-02
155  0  1      0      0        0  0  1 -4.429847e-01 -5.028105e-01
156  0  0      0      0        1  0  1 -8.987324e-02  3.333638e+00
157  0  1      0      0        1  0  1 -5.136070e-01 -4.973628e-01
158  0  0      0      0        0  0  1  8.282165e-01 -1.625556e-01
159  0  1      0      2        1  0  1 -3.017401e-01 -3.913322e-01
160  0  1      0      0        1  1  0  4.280378e-17 -4.995279e-01
161  0  1      1      1        0  0  0 -1.643564e+00 -3.649929e-01
162  1  0      0      0        1  0  1 -3.017401e-01 -3.962570e-01
163  0  1      0      0        0  0  1  4.280378e-17 -5.126600e-01
164  1  0      0      0        0  0  1  7.575942e-01 -4.052111e-01
165  0  1      1      1        1  0  1 -3.017401e-01 -2.435900e-01
166  0  0      0      0        0  0  0  1.251950e+00  2.662693e-01
167  0  1      2      2        0  0  1 -8.667184e-01 -2.242438e-02
168  0  0      0      0        1  0  0  4.280378e-17 -1.415888e-01
169  0  1      0      0        1  0  1 -5.842293e-01 -4.775152e-01
170  0  1      0      0        0  0  1  4.280378e-17 -5.028105e-01
171  0  1      0      0        0  0  0 -2.311178e-01 -5.086306e-01
172  0  1      1      0        0  0  1 -5.136070e-01 -3.890937e-01
173  0  1      0      0        0  0  0  4.280378e-17 -5.085554e-01
174  0  1      1      5        0  0  1  6.869719e-01 -7.592497e-02
175  1  0      0      2        1  0  1 -1.078585e+00  6.040081e-02
176  1  0      0      0        1  0  1 -7.254738e-01  2.010748e-02
177  0  0      1      0        0  0  0  1.675684e+00  3.548412e-01
178  1  0      0      3        1  0  1  4.044828e-01  6.040081e-02
179  0  0      0      2        1  0  0  2.381907e+00  8.511942e-01
180  1  0      0      0        0  0  1 -1.925095e-02 -4.052111e-01
181  0  0      1      1        0  0  0  4.751051e-01  8.511942e-01
182  0  0      1      0        1  0  1 -8.667184e-01  3.129057e-01
183  0  1      0      0        0  1  0  4.280378e-17 -4.992288e-01
184  0  0      1      1        1  0  0 -2.311178e-01  3.794622e+00
185  1  0      0      0        0  0  1  6.869719e-01 -3.514866e-01
186  1  0      0      1        1  0  1 -6.548515e-01 -2.619459e-01
187  0  1      2      0        0  0  1 -9.373407e-01 -4.938564e-01
188  0  1      8      2        1  0  1  4.280378e-17  6.074948e-01
189  1  0      0      0        0  0  1  6.869719e-01 -4.052111e-01
190  1  0      1      0        0  0  1  2.632382e-01 -1.724051e-01
191  0  0      0      0        0  0  1  4.280378e-17 -1.724051e-01
192  0  1      1      1        0  0  1 -1.325763e+00 -3.783488e-01
193  1  0      0      0        0  1  0  2.170040e+00 -4.168514e-01
194  1  0      0      2        0  0  1 -1.572941e+00 -5.600216e-02
195  0  1      0      0        0  0  1  1.926159e-01 -4.973628e-01
196  0  0      0      2        0  0  0 -1.714186e+00  1.770629e+00
197  0  1      0      0        1  0  1 -8.667184e-01 -4.987811e-01
198  1  0      0      0        0  0  1 -5.136070e-01 -4.499814e-01
199  0  1      0      0        1  0  1  4.280378e-17 -4.927371e-01
200  0  1      0      0        1  1  0  4.280378e-17 -3.604407e-01
201  0  1      0      2        0  0  1 -2.114614e+00 -3.801397e-01
202  0  0      1      0        0  0  0  1.181328e+00  3.436535e+00
203  1  0      1      1        1  0  1 -1.572941e+00 -1.724051e-01
204  1  0      0      0        0  0  1 -3.723624e-01 -4.499814e-01
205  0  0      0      0        0  0  0  4.280378e-17 -1.770308e-01
206  0  1      0      0        1  1  0  3.338605e-01 -4.992288e-01
207  1  0      0      0        0  0  1 -4.429847e-01 -4.499814e-01
208  0  0      0      0        1  0  0  1.926159e-01 -1.415888e-01
209  0  1      0      0        0  0  1 -3.723624e-01 -4.966178e-01
210  0  1      0      0        0  0  1  1.219936e-01 -2.346359e-01
211  0  1      0      0        0  0  1  4.280378e-17 -5.117645e-01
212  1  0      0      0        0  0  1 -9.373407e-01  6.782319e-01
213  1  0      1      0        1  0  1  2.099418e+00 -1.724051e-01
214  0  1      4      2        1  0  1  5.457273e-01 -4.987811e-01
215  0  0      0      0        0  0  1  8.282165e-01  1.230793e-01
216  0  1      0      0        1  1  0  4.280378e-17 -4.969151e-01
217  0  0      1      1        0  0  1  1.887551e+00  2.314440e+00
218  0  0      1      1        1  0  0  1.393195e+00  3.149557e+00
219  0  1      0      0        0  0  1  4.280378e-17 -4.938564e-01
220  1  0      1      0        1  0  0 -1.925095e-02 -3.898405e-01
221  0  1      0      0        0  0  1 -6.548515e-01 -4.938564e-01
222  1  0      0      0        1  0  1 -5.842293e-01 -4.499814e-01
223  0  1      0      0        0  0  1 -6.548515e-01 -4.984087e-01
224  0  0      0      0        1  0  0  1.605062e+00 -1.465135e-01
225  0  1      0      2        1  0  0  4.280378e-17 -3.649929e-01
226  0  1      0      0        0  0  1 -5.136070e-01 -4.984087e-01
227  0  1      0      0        1  1  0  4.280378e-17 -4.992288e-01
228  0  1      0      0        0  0  1  7.222831e-01 -3.676039e-01
229  1  0      0      0        0  0  1  4.044828e-01 -4.052111e-01
230  1  0      0      0        0  0  1 -1.149208e+00  5.260127e-01
231  0  0      0      0        1  0  1 -6.548515e-01 -1.625556e-01
232  0  1      1      0        0  0  1 -6.548515e-01 -5.216892e-01
233  0  1      0      0        0  1  0  4.280378e-17 -4.969151e-01
234  0  0      1      0        0  0  0  6.163496e-01  6.385350e-01
235  0  1      0      0        0  0  1 -7.254738e-01 -4.973628e-01
236  0  0      1      0        0  0  0  2.381907e+00  7.095712e-01
237  0  1      0      0        0  0  0 -7.254738e-01 -5.086306e-01
238  1  0      1      1        1  0  1 -8.667184e-01 -4.052111e-01
239  0  0      1      0        1  0  0  1.251950e+00  1.267858e+00
240  0  0      0      0        1  0  0  1.746306e+00 -1.415888e-01
241  1  0      0      2        1  0  1  1.040083e+00 -1.007725e-01
242  0  0      1      1        0  0  0  1.040083e+00  1.770629e+00
243  0  1      0      0        0  0  1  4.280378e-17 -4.967665e-01
244  0  1      1      2        0  0  1  4.280378e-17 -2.180709e-01
245  0  0      1      0        0  0  1  7.575942e-01  2.907444e-01
246  1  0      0      0        1  0  1 -5.842293e-01 -2.619459e-01
247  1  0      1      1        0  0  1  8.282165e-01 -5.600216e-02
248  1  0      1      0        1  0  1 -8.987324e-02 -1.724051e-01
249  0  1      1      0        1  0  0  4.280378e-17 -3.791690e-01
250  1  0      1      2        1  0  1 -2.072947e+00 -1.410659e-01
251  0  1      0      0        0  0  1 -7.254738e-01 -4.960949e-01
252  0  0      1      0        0  0  0 -2.311178e-01  1.811445e+00
253  0  1      0      0        0  0  1 -4.429847e-01 -4.710235e-01
254  0  1      0      0        0  0  1  1.573048e-01 -4.678896e-01
255  0  1      0      0        0  0  1  4.280378e-17 -5.028105e-01
256  0  1      0      0        0  1  0  4.280378e-17 -4.992288e-01
257  0  1      0      0        0  0  1 -1.604955e-01 -4.938564e-01
258  1  0      0      0        1  0  1 -7.960961e-01 -4.052111e-01
259  0  1      0      0        0  0  1 -6.548515e-01 -4.987811e-01
260  0  1      1      0        0  0  1  4.397939e-01 -3.264152e-01
261  0  1      0      0        0  0  1 -6.548515e-01 -4.973628e-01
262  1  0      0      2        1  0  1 -8.987324e-02 -2.261296e-01
263  0  1      1      1        1  0  1 -2.067297e+00 -4.198366e-01
264  1  0      0      0        0  0  0 -1.925095e-02 -4.099120e-01
265  0  1      0      0        0  0  1  4.280378e-17 -4.966178e-01
266  0  0      0      0        0  0  1  4.280378e-17 -6.380170e-01
267  0  1      0      0        0  0  1  4.280378e-17 -5.028105e-01
268  0  1      0      0        1  0  1  4.280378e-17 -4.938564e-01
269  0  1      0      0        0  0  1 -9.373407e-01 -4.828877e-01
270  0  0      0      0        0  0  0  1.110706e+00  7.094226e-01
271  0  1      0      0        0  1  0  4.280378e-17 -4.992288e-01
272  0  0      1      0        1  0  0 -3.017401e-01  1.811445e+00
273  0  1      1      0        1  1  0  4.280378e-17 -3.604407e-01
274  0  1      0      0        0  0  0  4.280378e-17 -5.086306e-01
275  1  0      1      0        1  0  1 -7.254738e-01 -1.724051e-01
276  1  0      0      0        0  0  1 -1.604955e-01 -4.499814e-01
277  1  0      1      0        0  0  1  6.869719e-01 -1.724051e-01
278  1  0      1      0        0  0  1 -1.925095e-02 -2.619459e-01
279  1  0      0      0        0  0  1 -5.842293e-01 -4.499814e-01
280  0  1      0      0        1  0  1 -5.136070e-01 -4.828877e-01
281  0  1      1      1        0  0  1 -2.084953e+00 -3.913322e-01
282  0  1      0      0        1  1  0  4.280378e-17 -4.992288e-01
283  0  1      1      1        1  0  0 -1.502319e+00 -3.649929e-01
284  0  1      1      1        1  0  1 -1.996675e+00 -2.760485e-01
285  0  1      0      0        0  0  1  4.044828e-01 -5.081829e-01
286  0  1      0      0        0  0  1  4.280378e-17 -5.081829e-01
287  0  0      1      0        0  0  1 -4.429847e-01  8.352273e-01
288  0  1      0      0        0  0  0  4.280378e-17 -5.085554e-01
289  0  1      0      0        0  0  1  4.280378e-17 -4.938564e-01
290  0  0      0      0        0  0  1  4.280378e-17  7.114570e-02
291  0  1      0      0        1  1  0 -1.925095e-02 -5.135554e-01
292  0  1      0      0        0  0  0  4.280378e-17 -5.085554e-01
293  0  0      1      1        0  0  1  1.605062e+00  8.279136e-01
294  0  1      0      0        0  0  1  4.044828e-01 -4.678896e-01
295  0  1      0      0        0  0  1 -3.017401e-01 -4.966178e-01
296  1  0      1      2        1  0  0 -2.067297e+00  1.065895e-01
297  0  1      2      0        0  0  0  4.280378e-17 -2.497827e-01
298  0  0      0      0        0  0  1 -1.925095e-02  1.768038e-01
299  0  1      0      0        0  0  1 -8.987324e-02 -4.973628e-01
300  0  1      0      0        0  0  1  1.219936e-01 -4.987811e-01
301  1  0      0      0        0  0  0  4.280378e-17 -3.685746e-01
302  1  0      0      1        0  0  1  8.988388e-01 -2.619459e-01
303  0  1      0      0        0  0  1 -4.429847e-01 -4.828877e-01
304  0  1      0      0        1  1  0  4.280378e-17 -4.992288e-01
305  0  0      1      1        1  0  1  2.381907e+00 -1.625556e-01
306  0  0      1      2        0  0  1 -1.925095e-02  2.075963e+00
307  0  1      0      1        0  0  1 -2.079303e+00 -4.705758e-01
308  0  0      1      1        0  0  1  1.746306e+00  1.036395e+00
309  0  1      1      0        1  0  1  1.040083e+00 -3.853635e-01
310  0  1      0      0        0  0  1 -8.667184e-01 -4.828877e-01
311  0  1      0      0        0  0  0 -5.842293e-01 -5.086306e-01
312  0  1      0      0        0  0  1  4.280378e-17 -5.023628e-01
313  0  1      0      0        1  1  0  4.751051e-01 -4.992288e-01
314  0  0      0      0        1  0  0  1.746306e+00  1.790924e+00
315  0  1      0      0        1  1  0 -9.373407e-01 -4.995279e-01
316  0  0      1      0        0  0  0  1.887551e+00  1.985899e+00
317  1  0      0      0        0  0  1 -7.960961e-01 -4.499814e-01
318  0  1      0      0        0  0  1 -2.311178e-01 -4.973628e-01
319  1  0      2      0        0  0  1 -5.842293e-01 -7.391031e-02
320  0  1      0      0        0  0  1 -3.017401e-01 -4.987811e-01
321  0  1      0      0        0  0  0 -3.723624e-01 -5.085554e-01
322  1  0      0      0        0  0  1 -3.017401e-01 -4.052111e-01
323  0  0      0      0        0  0  1  1.926159e-01 -1.625556e-01
324  0  0      0      0        1  0  1  6.163496e-01  3.146646e+00
325  0  1      0      0        0  0  1 -5.136070e-01 -5.117645e-01
326  1  0      2      1        1  0  1 -1.290452e+00  6.040081e-02
327  0  0      0      0        0  0  0  1.110706e+00  7.803084e-01
328  1  0      1      0        0  0  1 -8.987324e-02 -1.724051e-01
329  1  0      0      0        0  0  1 -6.548515e-01 -4.052111e-01
330  1  0      0      2        1  0  1  1.251950e+00  2.010748e-02
331  0  0      0      0        0  0  0  6.163496e-01 -1.061450e-01
332  0  1      0      0        0  0  0  4.280378e-17 -5.086306e-01
333  0  1      1      1        1  0  0 -7.960961e-01 -3.561123e-01
334  0  1      0      0        0  0  1 -2.311178e-01 -4.966178e-01
335  0  0      0      0        0  0  1 -1.925095e-02 -1.724051e-01
336  1  0      0      0        0  0  1  1.219936e-01 -4.052111e-01
337  0  1      0      2        0  0  0  6.163496e-01 -5.085554e-01
338  1  0      0      0        0  0  1 -3.723624e-01 -7.391031e-02
339  0  1      0      0        0  0  0  4.280378e-17 -5.085554e-01
340  1  0      0      0        0  0  1 -8.667184e-01 -4.499814e-01
341  0  1      0      0        0  0  1  1.219936e-01 -5.022876e-01
342  0  1      1      9        0  0  1  4.280378e-17  6.074948e-01
343  0  0      0      1        1  0  0  1.958173e+00  8.536851e+00
344  0  1      1      1        0  0  1  4.280378e-17 -3.783488e-01
345  0  1      0      0        1  0  1 -1.007963e+00 -5.010197e-01
346  1  0      0      0        0  0  1 -3.017401e-01 -4.052111e-01
347  0  1      0      0        1  0  0  5.457273e-01 -5.085554e-01
348  1  0      0      0        0  0  1 -4.429847e-01 -3.962570e-01
349  1  0      0      0        1  0  1  5.137133e-02 -2.619459e-01
350  0  0      0      1        1  0  0  1.040083e+00  4.966129e-01
351  1  0      0      0        0  0  1 -3.723624e-01 -4.499814e-01
352  1  0      0      0        0  0  1 -8.667184e-01  6.782319e-01
353  1  0      1      2        0  0  1  1.322573e+00  5.260127e-01
354  0  1      1      2        1  0  1 -2.125914e+00 -2.695568e-01
355  0  0      0      0        0  0  1  1.393195e+00 -1.724051e-01
356  0  0      2      0        1  0  1  2.028795e+00  2.838802e-01
357  0  1      0      0        0  0  1  4.280378e-17 -4.969151e-01
358  0  1      0      0        0  1  0  4.280378e-17 -4.992288e-01
359  0  1      1      0        1  0  1 -1.925095e-02 -3.595453e-01
360  0  1      8      2        0  0  1 -1.113896e+00  6.074948e-01
361  1  0      1      1        1  0  0 -4.429847e-01  2.465973e-02
362  1  0      0      0        1  0  1  5.137133e-02 -2.619459e-01
363  0  1      0      0        0  0  1 -2.311178e-01 -4.828877e-01
364  0  0      1      0        1  0  0 -3.723624e-01  3.548412e-01
365  0  1      1      9        1  0  1  4.280378e-17  6.074948e-01
366  0  1      1      0        0  0  0  4.280378e-17 -3.790956e-01
367  0  1      0      0        1  0  1 -5.842293e-01  7.271266e-02
368  0  0      0      1        1  0  0  1.040083e+00  4.257270e-01
369  1  0      0      0        0  0  0 -8.987324e-02 -3.898405e-01
370  1  0      1      0        0  0  1 -6.548515e-01 -4.320733e-01
371  0  0      0      0        1  0  0  5.137133e-02  1.770629e+00
372  0  0      0      0        0  0  1  1.322573e+00 -6.380170e-01
373  1  0      0      0        0  0  1  9.694611e-01 -4.052111e-01
374  0  0      1      1        1  0  1  1.675684e+00  8.279136e-01
375  0  0      0      0        1  0  0  1.040083e+00  4.060634e+00
376  0  1      2      0        1  0  1 -5.842293e-01 -4.828877e-01
377  1  0      0      0        0  0  1 -6.548515e-01 -4.320733e-01
378  0  0      0      0        0  0  1  1.746306e+00  2.573904e-01
379  0  1      4      2        0  0  1 -1.784808e+00 -7.592497e-02
380  0  1      0      0        0  1  0  4.280378e-17 -4.992288e-01
381  0  1      0      0        0  1  0 -3.017401e-01 -4.969151e-01
382  0  1      0      0        1  0  1  4.280378e-17 -3.783488e-01
383  0  1      1      0        1  0  1 -7.960961e-01 -3.496958e-01
384  1  0      0      0        0  0  1  4.280378e-17 -4.074496e-01
385  1  0      1      2        1  0  1 -4.429847e-01  5.260127e-01
386  0  1      0      0        0  0  1 -4.429847e-01 -4.987811e-01
387  1  0      0      0        0  0  1  1.887551e+00 -4.052111e-01
388  0  1      0      0        0  1  0 -6.548515e-01 -4.992288e-01
389  0  1      3      1        0  0  1 -1.714186e+00 -2.606028e-01
390  0  0      0      0        0  0  1 -5.136070e-01  1.036395e+00
391  0  0      0      1        1  0  1  1.463817e+00  6.756407e-02
392  0  1      0      2        0  0  1 -1.219830e+00 -2.753770e-01
393  1  0      0      0        0  0  1  1.181328e+00 -4.499814e-01
394  0  1      3      1        0  0  1 -8.987324e-02 -2.435900e-01
395  0  0      1      0        1  0  1 -8.667184e-01  4.364719e-01
396  0  1      0      0        0  1  0 -4.429847e-01 -5.081829e-01
397  0  0      1      1        1  0  0  1.251950e+00  7.803084e-01
398  0  1      0      0        0  0  1 -5.842293e-01 -4.987811e-01
399  0  1      0      0        0  1  0  5.137133e-02 -4.995279e-01
400  0  0      0      0        1  0  1 -1.925095e-02  2.314440e+00
401  1  0      1      0        0  0  1  5.457273e-01 -2.619459e-01
402  0  0      0      1        1  0  0 -5.842293e-01  4.257270e-01
403  0  0      0      0        0  0  1 -9.373407e-01  2.054568e-01
404  0  0      1      0        0  0  0  8.988388e-01 -1.415888e-01
405  1  0      0      0        0  0  0 -7.254738e-01 -3.897653e-01
406  1  0      1      0        0  0  1 -5.136070e-01 -4.499814e-01
407  0  0      1      1        0  0  0  1.393195e+00  3.149557e+00
408  0  1      0      0        1  1  0  4.280378e-17 -4.997518e-01
409  0  1      1      1        1  0  1 -1.926053e+00 -3.913322e-01
410  0  1      0      0        1  1  0  4.280378e-17 -4.992288e-01
411  0  0      1      0        1  1  0  4.751051e-01  9.737164e-01
412  0  1      0      0        1  0  1 -1.604955e-01 -4.987811e-01
413  0  1      0      0        0  0  1  4.280378e-17 -4.938564e-01
414  0  0      0      0        1  0  0  6.163496e-01  1.312180e+00
415  0  1      0      0        0  0  1  5.810385e-01 -5.081829e-01
416  0  1      0      0        0  0  1  4.280378e-17 -4.938564e-01
417  0  1      1      1        0  0  0  4.280378e-17 -2.376212e-01

In [297]:
predict_outcome = model.predict_proba(test_raw_data)

In [298]:
predict_outcome

array([[0.78308267, 0.21691733],
       [0.55374828, 0.44625172],
       [0.76308852, 0.23691148],
       [0.8286877 , 0.1713123 ],
       [0.32286996, 0.67713004],
       [0.7559917 , 0.2440083 ],
       [0.21547036, 0.78452964],
       [0.67861494, 0.32138506],
       [0.17199287, 0.82800713],
       [0.89141325, 0.10858675],
       [0.84411593, 0.15588407],
       [0.60935053, 0.39064947],
       [0.07948561, 0.92051439],
       [0.89207557, 0.10792443],
       [0.16721752, 0.83278248],
       [0.11245348, 0.88754652],
       [0.56039612, 0.43960388],
       [0.72177715, 0.27822285],
       [0.38469608, 0.61530392],
       [0.3435568 , 0.6564432 ],
       [0.6622097 , 0.3377903 ],
       [0.70494893, 0.29505107],
       [0.07433508, 0.92566492],
       [0.27624511, 0.72375489],
       [0.07653282, 0.92346718],
       [0.93892847, 0.06107153],
       [0.03383754, 0.96616246],
       [0.73196827, 0.26803173],
       [0.56676438, 0.43323562],
       [0.88142624, 0.11857376],
       [0.84120108, 0.15879892],
       [0.75893598, 0.24106402],
       [0.38505568, 0.61494432],
       [0.36249453, 0.63750547],
       [0.45494382, 0.54505618],
       [0.70427242, 0.29572758],
       [0.32449954, 0.67550046],
       [0.25899882, 0.74100118],
       [0.81861802, 0.18138198],
       [0.83717955, 0.16282045],
       [0.8126883 , 0.1873117 ],
       [0.47644823, 0.52355177],
       [0.88659008, 0.11340992],
       [0.14172679, 0.85827321],
       [0.15912656, 0.84087344],
       [0.81886708, 0.18113292],
       [0.49679342, 0.50320658],
       [0.75751848, 0.24248152],
       [0.1222517 , 0.8777483 ],
       [0.3239089 , 0.6760911 ],
       [0.5076939 , 0.4923061 ],
       [0.52425032, 0.47574968],
       [0.1826721 , 0.8173279 ],
       [0.12893482, 0.87106518],
       [0.55193719, 0.44806281],
       [0.86162485, 0.13837515],
       [0.8642414 , 0.1357586 ],
       [0.81891054, 0.18108946],
       [0.88653377, 0.11346623],
       [0.04783559, 0.95216441],
       [0.77467855, 0.22532145],
       [0.66576202, 0.33423798],
       [0.78062301, 0.21937699],
       [0.17276383, 0.82723617],
       [0.31097612, 0.68902388],
       [0.14182473, 0.85817527],
       [0.1540439 , 0.8459561 ],
       [0.61333032, 0.38666968],
       [0.37971911, 0.62028089],
       [0.1472526 , 0.8527474 ],
       [0.1827627 , 0.8172373 ],
       [0.79767419, 0.20232581],
       [0.31505502, 0.68494498],
       [0.35998405, 0.64001595],
       [0.04875416, 0.95124584],
       [0.34652204, 0.65347796],
       [0.8440943 , 0.1559057 ],
       [0.28526459, 0.71473541],
       [0.65048264, 0.34951736],
       [0.1827627 , 0.8172373 ],
       [0.67074835, 0.32925165],
       [0.79085297, 0.20914703],
       [0.63349934, 0.36650066],
       [0.84411593, 0.15588407],
       [0.52066887, 0.47933113],
       [0.83730703, 0.16269297],
       [0.19857843, 0.80142157],
       [0.23990477, 0.76009523],
       [0.21702975, 0.78297025],
       [0.48310704, 0.51689296],
       [0.34363082, 0.65636918],
       [0.84413286, 0.15586714],
       [0.07794817, 0.92205183],
       [0.8440943 , 0.1559057 ],
       [0.33327983, 0.66672017],
       [0.8188875 , 0.1811125 ],
       [0.34710704, 0.65289296],
       [0.83829433, 0.16170567],
       [0.25264733, 0.74735267],
       [0.85598792, 0.14401208],
       [0.10381743, 0.89618257],
       [0.70682476, 0.29317524],
       [0.75751848, 0.24248152],
       [0.82391139, 0.17608861],
       [0.2040472 , 0.7959528 ],
       [0.83143181, 0.16856819],
       [0.6945951 , 0.3054049 ],
       [0.75751848, 0.24248152],
       [0.84400138, 0.15599862],
       [0.55664861, 0.44335139],
       [0.64019647, 0.35980353],
       [0.21702447, 0.78297553],
       [0.06036143, 0.93963857],
       [0.15637089, 0.84362911],
       [0.22635494, 0.77364506],
       [0.7717632 , 0.2282368 ],
       [0.78099761, 0.21900239],
       [0.18784946, 0.81215054],
       [0.40869054, 0.59130946],
       [0.18637785, 0.81362215],
       [0.08165986, 0.91834014],
       [0.81972734, 0.18027266],
       [0.08078182, 0.91921818],
       [0.83370073, 0.16629927],
       [0.75751848, 0.24248152],
       [0.21565296, 0.78434704],
       [0.80315841, 0.19684159],
       [0.3661385 , 0.6338615 ],
       [0.73727708, 0.26272292],
       [0.81371497, 0.18628503],
       [0.85171727, 0.14828273],
       [0.56519026, 0.43480974],
       [0.24371217, 0.75628783],
       [0.83846735, 0.16153265],
       [0.893288  , 0.106712  ],
       [0.81374659, 0.18625341],
       [0.75796092, 0.24203908],
       [0.61875344, 0.38124656],
       [0.27248013, 0.72751987],
       [0.85629575, 0.14370425],
       [0.55432   , 0.44568   ],
       [0.07200373, 0.92799627],
       [0.59307566, 0.40692434],
       [0.63154685, 0.36845315],
       [0.57617631, 0.42382369],
       [0.94424628, 0.05575372],
       [0.4697248 , 0.5302752 ],
       [0.80311559, 0.19688441],
       [0.47644823, 0.52355177],
       [0.70837635, 0.29162365],
       [0.03422073, 0.96577927],
       [0.78073171, 0.21926829],
       [0.93668156, 0.06331844],
       [0.3247768 , 0.6752232 ],
       [0.91561065, 0.08438935],
       [0.81379572, 0.18620428],
       [0.0590756 , 0.9409244 ],
       [0.27252149, 0.72747851],
       [0.57617631, 0.42382369],
       [0.25429156, 0.74570844],
       [0.21703278, 0.78296722],
       [0.67826218, 0.32173782],
       [0.1258177 , 0.8741823 ],
       [0.84424149, 0.15575851],
       [0.73059405, 0.26940595],
       [0.35112703, 0.64887297],
       [0.51691597, 0.48308403],
       [0.85831134, 0.14168866],
       [0.05035699, 0.94964301],
       [0.2655589 , 0.7344411 ],
       [0.84416441, 0.15583559],
       [0.76108646, 0.23891354],
       [0.85927149, 0.14072851],
       [0.78085328, 0.21914672],
       [0.86950221, 0.13049779],
       [0.07361391, 0.92638609],
       [0.10260765, 0.89739235],
       [0.6554651 , 0.3445349 ],
       [0.12910402, 0.87089598],
       [0.11587907, 0.88412093],
       [0.65048264, 0.34951736],
       [0.48415799, 0.51584201],
       [0.06982352, 0.93017648],
       [0.75751848, 0.24248152],
       [0.04729215, 0.95270785],
       [0.72316519, 0.27683481],
       [0.09861144, 0.90138856],
       [0.87926769, 0.12073231],
       [0.88225668, 0.11774332],
       [0.72380471, 0.27619529],
       [0.75391241, 0.24608759],
       [0.47659442, 0.52340558],
       [0.7891562 , 0.2108438 ],
       [0.75632304, 0.24367696],
       [0.41509924, 0.58490076],
       [0.85601364, 0.14398636],
       [0.1611584 , 0.8388416 ],
       [0.23995821, 0.76004179],
       [0.59489747, 0.40510253],
       [0.32448494, 0.67551506],
       [0.21562974, 0.78437026],
       [0.61469771, 0.38530229],
       [0.55483017, 0.44516983],
       [0.09215299, 0.90784701],
       [0.61128082, 0.38871918],
       [0.37457081, 0.62542919],
       [0.24577696, 0.75422304],
       [0.60311805, 0.39688195],
       [0.05501295, 0.94498705],
       [0.81887169, 0.18112831],
       [0.8497587 , 0.1502413 ],
       [0.84423448, 0.15576552],
       [0.52791262, 0.47208738],
       [0.39825562, 0.60174438],
       [0.69904582, 0.30095418],
       [0.57202069, 0.42797931],
       [0.21700636, 0.78299364],
       [0.72177643, 0.27822357],
       [0.10179828, 0.89820172],
       [0.8440943 , 0.1559057 ],
       [0.13636694, 0.86363306],
       [0.79764767, 0.20235233],
       [0.11183242, 0.88816758],
       [0.79769139, 0.20230861],
       [0.10351125, 0.89648875],
       [0.20579977, 0.79420023],
       [0.80851316, 0.19148684],
       [0.21702975, 0.78297025],
       [0.88406858, 0.11593142],
       [0.69561703, 0.30438297],
       [0.50453698, 0.49546302],
       [0.05552395, 0.94447605],
       [0.8517877 , 0.1482123 ],
       [0.75749319, 0.24250681],
       [0.52819287, 0.47180713],
       [0.79210158, 0.20789842],
       [0.72398082, 0.27601918],
       [0.71485233, 0.28514767],
       [0.1265823 , 0.8734177 ],
       [0.1151981 , 0.8848019 ],
       [0.1100091 , 0.8899909 ],
       [0.18300631, 0.81699369],
       [0.53884759, 0.46115241],
       [0.84411709, 0.15588291],
       [0.86502037, 0.13497963],
       [0.65050906, 0.34949094],
       [0.11072593, 0.88927407],
       [0.78436506, 0.21563494],
       [0.18637785, 0.81362215],
       [0.31348928, 0.68651072],
       [0.06742201, 0.93257799],
       [0.79208916, 0.20791084],
       [0.40912065, 0.59087935],
       [0.81350894, 0.18649106],
       [0.85367263, 0.14632737],
       [0.84416441, 0.15583559],
       [0.75751848, 0.24248152],
       [0.83358251, 0.16641749],
       [0.10178941, 0.89821059],
       [0.79769497, 0.20230503],
       [0.90615476, 0.09384524],
       [0.79768135, 0.20231865],
       [0.11544862, 0.88455138],
       [0.18858482, 0.81141518],
       [0.55037832, 0.44962168],
       [0.84411593, 0.15588407],
       [0.4835095 , 0.5164905 ],
       [0.84416441, 0.15583559],
       [0.32449954, 0.67550046],
       [0.77453591, 0.22546409],
       [0.49321812, 0.50678188],
       [0.75751848, 0.24248152],
       [0.05604045, 0.94395955],
       [0.28578597, 0.71421403],
       [0.78085405, 0.21914595],
       [0.14408757, 0.85591243],
       [0.63538171, 0.36461829],
       [0.7900024 , 0.2099976 ],
       [0.72869581, 0.27130419],
       [0.58662332, 0.41337668],
       [0.27235077, 0.72764923],
       [0.72165751, 0.27834249],
       [0.21702975, 0.78297025],
       [0.16687546, 0.83312454],
       [0.19254422, 0.80745578],
       [0.86828587, 0.13171413],
       [0.84420645, 0.15579355],
       [0.50176281, 0.49823719],
       [0.78085328, 0.21914672],
       [0.8440943 , 0.1559057 ],
       [0.47298071, 0.52701929],
       [0.21559273, 0.78440727],
       [0.78085328, 0.21914672],
       [0.71194331, 0.28805669],
       [0.86801144, 0.13198856],
       [0.82389272, 0.17610728],
       [0.04486387, 0.95513613],
       [0.88142624, 0.11857376],
       [0.46908975, 0.53091025],
       [0.83830456, 0.16169544],
       [0.85175428, 0.14824572],
       [0.55207774, 0.44792226],
       [0.72359968, 0.27640032],
       [0.81361602, 0.18638398],
       [0.21702975, 0.78297025],
       [0.25314105, 0.74685895],
       [0.48705874, 0.51294126],
       [0.64216484, 0.35783516],
       [0.72329922, 0.27670078],
       [0.53489374, 0.46510626],
       [0.78045645, 0.21954355],
       [0.72859764, 0.27140236],
       [0.8441609 , 0.1558391 ],
       [0.25868524, 0.74131476],
       [0.09924547, 0.90075453],
       [0.14965627, 0.85034373],
       [0.65673413, 0.34326587],
       [0.56152366, 0.43847634],
       [0.82880994, 0.17119006],
       [0.74619193, 0.25380807],
       [0.82391139, 0.17608861],
       [0.74841757, 0.25158243],
       [0.61875344, 0.38124656],
       [0.49976733, 0.50023267],
       [0.08206113, 0.91793887],
       [0.80863617, 0.19136383],
       [0.14317103, 0.85682897],
       [0.49216388, 0.50783612],
       [0.7208059 , 0.2791941 ],
       [0.57765018, 0.42234982],
       [0.19771652, 0.80228348],
       [0.44567091, 0.55432909],
       [0.78085405, 0.21914595],
       [0.21990643, 0.78009357],
       [0.82880365, 0.17119635],
       [0.4742677 , 0.5257323 ],
       [0.66588056, 0.33411944],
       [0.7988288 , 0.2011712 ],
       [0.60595063, 0.39404937],
       [0.78085328, 0.21914672],
       [0.55307995, 0.44692005],
       [0.85178062, 0.14821938],
       [0.75809644, 0.24190356],
       [0.06916844, 0.93083156],
       [0.87678624, 0.12321376],
       [0.2277208 , 0.7722792 ],
       [0.61875344, 0.38124656],
       [0.29171596, 0.70828404],
       [0.60235261, 0.39764739],
       [0.1448819 , 0.8551181 ],
       [0.07135555, 0.92864445],
       [0.61128082, 0.38871918],
       [0.53643328, 0.46356672],
       [0.80235151, 0.19764849],
       [0.16913681, 0.83086319],
       [0.64140877, 0.35859123],
       [0.30808998, 0.69191002],
       [0.84411825, 0.15588175],
       [0.75751848, 0.24248152],
       [0.40730634, 0.59269366],
       [0.98008837, 0.01991163],
       [0.10238602, 0.89761398],
       [0.1448819 , 0.8551181 ],
       [0.8286877 , 0.1713123 ],
       [0.05888029, 0.94111971],
       [0.21756534, 0.78243466],
       [0.83730643, 0.16269357],
       [0.25922264, 0.74077736],
       [0.07163554, 0.92836446],
       [0.54159859, 0.45840141],
       [0.6659918 , 0.3340082 ],
       [0.04627234, 0.95372766],
       [0.63990769, 0.36009231],
       [0.75031898, 0.24968102],
       [0.18495715, 0.81504285],
       [0.06398751, 0.93601249],
       [0.43384128, 0.56615872],
       [0.57804008, 0.42195992],
       [0.67415454, 0.32584546],
       [0.89190492, 0.10809508],
       [0.75751848, 0.24248152],
       [0.72963164, 0.27036836],
       [0.32299481, 0.67700519],
       [0.32034748, 0.67965252],
       [0.65263095, 0.34736905],
       [0.13276192, 0.86723808],
       [0.81375939, 0.18624061],
       [0.82422545, 0.17577455],
       [0.69461111, 0.30538889],
       [0.86707723, 0.13292277],
       [0.39782816, 0.60217184],
       [0.12831626, 0.87168374],
       [0.70981839, 0.29018161],
       [0.76952903, 0.23047097],
       [0.93471792, 0.06528208],
       [0.0693475 , 0.9306525 ],
       [0.71605461, 0.28394539],
       [0.10862372, 0.89137628],
       [0.80316192, 0.19683808],
       [0.76206529, 0.23793471],
       [0.0645749 , 0.9354251 ],
       [0.7793388 , 0.2206612 ],
       [0.03392751, 0.96607249],
       [0.36113728, 0.63886272],
       [0.573516  , 0.426484  ],
       [0.46474574, 0.53525426],
       [0.68127291, 0.31872709],
       [0.56089156, 0.43910844],
       [0.21703504, 0.78296496],
       [0.19901251, 0.80098749],
       [0.21702975, 0.78297025],
       [0.07387366, 0.92612634],
       [0.3077506 , 0.6922494 ],
       [0.8440943 , 0.1559057 ],
       [0.06152841, 0.93847159],
       [0.87776679, 0.12223321],
       [0.8440943 , 0.1559057 ],
       [0.82269691, 0.17730309]])

In [299]:
final_prediction = predict_outcome[:,1]

In [300]:
final_prediction

array([0.21691733, 0.44625172, 0.23691148, 0.1713123 , 0.67713004,
       0.2440083 , 0.78452964, 0.32138506, 0.82800713, 0.10858675,
       0.15588407, 0.39064947, 0.92051439, 0.10792443, 0.83278248,
       0.88754652, 0.43960388, 0.27822285, 0.61530392, 0.6564432 ,
       0.3377903 , 0.29505107, 0.92566492, 0.72375489, 0.92346718,
       0.06107153, 0.96616246, 0.26803173, 0.43323562, 0.11857376,
       0.15879892, 0.24106402, 0.61494432, 0.63750547, 0.54505618,
       0.29572758, 0.67550046, 0.74100118, 0.18138198, 0.16282045,
       0.1873117 , 0.52355177, 0.11340992, 0.85827321, 0.84087344,
       0.18113292, 0.50320658, 0.24248152, 0.8777483 , 0.6760911 ,
       0.4923061 , 0.47574968, 0.8173279 , 0.87106518, 0.44806281,
       0.13837515, 0.1357586 , 0.18108946, 0.11346623, 0.95216441,
       0.22532145, 0.33423798, 0.21937699, 0.82723617, 0.68902388,
       0.85817527, 0.8459561 , 0.38666968, 0.62028089, 0.8527474 ,
       0.8172373 , 0.20232581, 0.68494498, 0.64001595, 0.95124584,
       0.65347796, 0.1559057 , 0.71473541, 0.34951736, 0.8172373 ,
       0.32925165, 0.20914703, 0.36650066, 0.15588407, 0.47933113,
       0.16269297, 0.80142157, 0.76009523, 0.78297025, 0.51689296,
       0.65636918, 0.15586714, 0.92205183, 0.1559057 , 0.66672017,
       0.1811125 , 0.65289296, 0.16170567, 0.74735267, 0.14401208,
       0.89618257, 0.29317524, 0.24248152, 0.17608861, 0.7959528 ,
       0.16856819, 0.3054049 , 0.24248152, 0.15599862, 0.44335139,
       0.35980353, 0.78297553, 0.93963857, 0.84362911, 0.77364506,
       0.2282368 , 0.21900239, 0.81215054, 0.59130946, 0.81362215,
       0.91834014, 0.18027266, 0.91921818, 0.16629927, 0.24248152,
       0.78434704, 0.19684159, 0.6338615 , 0.26272292, 0.18628503,
       0.14828273, 0.43480974, 0.75628783, 0.16153265, 0.106712  ,
       0.18625341, 0.24203908, 0.38124656, 0.72751987, 0.14370425,
       0.44568   , 0.92799627, 0.40692434, 0.36845315, 0.42382369,
       0.05575372, 0.5302752 , 0.19688441, 0.52355177, 0.29162365,
       0.96577927, 0.21926829, 0.06331844, 0.6752232 , 0.08438935,
       0.18620428, 0.9409244 , 0.72747851, 0.42382369, 0.74570844,
       0.78296722, 0.32173782, 0.8741823 , 0.15575851, 0.26940595,
       0.64887297, 0.48308403, 0.14168866, 0.94964301, 0.7344411 ,
       0.15583559, 0.23891354, 0.14072851, 0.21914672, 0.13049779,
       0.92638609, 0.89739235, 0.3445349 , 0.87089598, 0.88412093,
       0.34951736, 0.51584201, 0.93017648, 0.24248152, 0.95270785,
       0.27683481, 0.90138856, 0.12073231, 0.11774332, 0.27619529,
       0.24608759, 0.52340558, 0.2108438 , 0.24367696, 0.58490076,
       0.14398636, 0.8388416 , 0.76004179, 0.40510253, 0.67551506,
       0.78437026, 0.38530229, 0.44516983, 0.90784701, 0.38871918,
       0.62542919, 0.75422304, 0.39688195, 0.94498705, 0.18112831,
       0.1502413 , 0.15576552, 0.47208738, 0.60174438, 0.30095418,
       0.42797931, 0.78299364, 0.27822357, 0.89820172, 0.1559057 ,
       0.86363306, 0.20235233, 0.88816758, 0.20230861, 0.89648875,
       0.79420023, 0.19148684, 0.78297025, 0.11593142, 0.30438297,
       0.49546302, 0.94447605, 0.1482123 , 0.24250681, 0.47180713,
       0.20789842, 0.27601918, 0.28514767, 0.8734177 , 0.8848019 ,
       0.8899909 , 0.81699369, 0.46115241, 0.15588291, 0.13497963,
       0.34949094, 0.88927407, 0.21563494, 0.81362215, 0.68651072,
       0.93257799, 0.20791084, 0.59087935, 0.18649106, 0.14632737,
       0.15583559, 0.24248152, 0.16641749, 0.89821059, 0.20230503,
       0.09384524, 0.20231865, 0.88455138, 0.81141518, 0.44962168,
       0.15588407, 0.5164905 , 0.15583559, 0.67550046, 0.22546409,
       0.50678188, 0.24248152, 0.94395955, 0.71421403, 0.21914595,
       0.85591243, 0.36461829, 0.2099976 , 0.27130419, 0.41337668,
       0.72764923, 0.27834249, 0.78297025, 0.83312454, 0.80745578,
       0.13171413, 0.15579355, 0.49823719, 0.21914672, 0.1559057 ,
       0.52701929, 0.78440727, 0.21914672, 0.28805669, 0.13198856,
       0.17610728, 0.95513613, 0.11857376, 0.53091025, 0.16169544,
       0.14824572, 0.44792226, 0.27640032, 0.18638398, 0.78297025,
       0.74685895, 0.51294126, 0.35783516, 0.27670078, 0.46510626,
       0.21954355, 0.27140236, 0.1558391 , 0.74131476, 0.90075453,
       0.85034373, 0.34326587, 0.43847634, 0.17119006, 0.25380807,
       0.17608861, 0.25158243, 0.38124656, 0.50023267, 0.91793887,
       0.19136383, 0.85682897, 0.50783612, 0.2791941 , 0.42234982,
       0.80228348, 0.55432909, 0.21914595, 0.78009357, 0.17119635,
       0.5257323 , 0.33411944, 0.2011712 , 0.39404937, 0.21914672,
       0.44692005, 0.14821938, 0.24190356, 0.93083156, 0.12321376,
       0.7722792 , 0.38124656, 0.70828404, 0.39764739, 0.8551181 ,
       0.92864445, 0.38871918, 0.46356672, 0.19764849, 0.83086319,
       0.35859123, 0.69191002, 0.15588175, 0.24248152, 0.59269366,
       0.01991163, 0.89761398, 0.8551181 , 0.1713123 , 0.94111971,
       0.78243466, 0.16269357, 0.74077736, 0.92836446, 0.45840141,
       0.3340082 , 0.95372766, 0.36009231, 0.24968102, 0.81504285,
       0.93601249, 0.56615872, 0.42195992, 0.32584546, 0.10809508,
       0.24248152, 0.27036836, 0.67700519, 0.67965252, 0.34736905,
       0.86723808, 0.18624061, 0.17577455, 0.30538889, 0.13292277,
       0.60217184, 0.87168374, 0.29018161, 0.23047097, 0.06528208,
       0.9306525 , 0.28394539, 0.89137628, 0.19683808, 0.23793471,
       0.9354251 , 0.2206612 , 0.96607249, 0.63886272, 0.426484  ,
       0.53525426, 0.31872709, 0.43910844, 0.78296496, 0.80098749,
       0.78297025, 0.92612634, 0.6922494 , 0.1559057 , 0.93847159,
       0.12223321, 0.1559057 , 0.17730309])

In [301]:
survival_output = np.where(final_prediction>0.5,1,0)
survival_output

array([0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0,
       1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1,
       1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1,
       0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0,
       1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0])

In [302]:
df_output = pd.DataFrame({'Survived':survival_output})
df_output.head()

   Survived
0         0
1         0
2         0
3         0
4         1

In [305]:
df_oo = pd.read_csv('test.csv')
df_oo.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [307]:
df_id = df_oo.iloc[:,0]

In [308]:
final_csv  =  pd.concat([df_id,df_output],axis = 1)
final_csv.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         1

In [311]:
prediction_output =  final_csv.to_csv('output_2.csv',index = False)

In [ ]:
ooo = read.csv